<!-- Home Page CSS -->
<section class="fullPage-cms">
<!-- Section One -->
  <section class="cmsSection-wrap">
    <h2>Section One (About Us)</h2>
    <input type="text" placeholder="About white" ng-model="cms.about.sections.sectionOne.title"/>
    <textarea type="text" placeholder="About white" ng-model="cms.about.sections.sectionOne.paraOne"></textarea>
    <textarea type="text" placeholder="About Image" ng-model="cms.about.sections.sectionOne.paraTwo"></textarea>
    <div class="save" ng-click="saveCms(cms)">Save</div>
  </section>
<!-- Section Two -->
  <section class="cmsSection-wrap">
    <h2>Section Two (Why Us)</h2>
    <input type="text" placeholder="Why us title" ng-model="cms.about.sections.sectionTwo.title"/>
    <input type="text" placeholder="Why us subtitle" ng-model="cms.about.sections.sectionTwo.subtitleOne"/>
    <textarea type="text" placeholder="Why us body" ng-model="cms.about.sections.sectionTwo.bodyOne"></textarea>
    <input type="text" placeholder="Why us subtitle" ng-model="cms.about.sections.sectionTwo.subtitleTwo"/>
    <textarea type="text" placeholder="Why us body" ng-model="cms.about.sections.sectionTwo.bodyTwo"></textarea>
    <input type="text" placeholder="Why us subtitle" ng-model="cms.about.sections.sectionTwo.subtitleThree"/>
    <textarea type="text" placeholder="Why us body" ng-model="cms.about.sections.sectionTwo.bodyThree"></textarea>
  </section>

</section>
