<!-- Home Page CSS -->
<section class="fullPage-cms">
<!-- Section MAIN -->
  <section class="cmsSection-wrap">
    <input type="text" placeholder="Tips Title" ng-model="cms.excelTips.sections.sectionMain.title"/>
    <input type="text" placeholder="Tips subtitle" ng-model="cms.excelTips.sections.sectionMain.subtitle"/>
    <input type="text" placeholder="Tips subtitle" ng-model="cms.excelTips.sections.sectionOne.Title"/>
    <input type="text" placeholder="Tips subtitle" ng-model="cms.excelTips.sections.sectionTwo.Title"/>
    <input type="text" placeholder="Tips subtitle" ng-model="cms.excelTips.sections.sectionThree.Title"/>
    <input type="text" placeholder="Tips subtitle" ng-model="cms.about.sref"/>
    <div class="save" ng-click="saveCms(cms)">Save</div>
  </section>
</section>
