<!-- Home Page CSS -->
<section class="fullPage-cms">
<!-- Section MAIN -->
  <section class="cmsSection-wrap">
    <h2>Contact Info</h2>
    <input type="text" placeholder="Contact Email" ng-model="cms.contact.sections.sectionMain.email"/>
    <input type="text" placeholder="Contact Phone" ng-model="cms.contact.sections.sectionMain.phone"/>
    <input type="text" placeholder="Cell Phone" ng-model="cms.contact.sections.sectionMain.cellPhone"/>
    <input type="text" placeholder="Contact Address" ng-model="cms.contact.sections.sectionMain.address"/>
    <div class="save" ng-click="saveCms(cms)">Save</div>
  </section>
</section>
