<section class="popup-black" ui-sref="services"></section>
<section class="popup-container" >
  <section class="popup-wrap">
    <div class="service-tab" style="width:100%; border: none; height: auto;" >
      <h1>{{cms.services.sections.sectionThree.title}}</h1>
      <h2>{{cms.services.sections.sectionThree.popupTitle}}</h2>
      <p>{{cms.services.sections.sectionThree.popupTitleDisc}}</p>
      <h2>{{cms.services.sections.sectionThree.popupDiscTitle}}</h2>
      <p> {{cms.services.sections.sectionThree.popupDiscDisc}}</p><br>
 <div class="cta-button-md" ng-click="purchaseType ('Consultancy')">Purchase</div>
    </div>
  </section>
</section>
