<section class="popup-black" ui-sref="services"></section>
<section class="popup-container" >
  <section class="popup-wrap">
    <div class="service-tab" style="width:100%; border: none; height: auto;" >
      <h1>{{cms.services.sections.sectionTwo.title}}</h1>
      <h2>{{cms.services.sections.sectionTwo.popupTitle}}</h2>
      <p>{{cms.services.sections.sectionTwo.popupTitleDisc}}</p>
      <div class="cta-button-md" ng-click="purchaseType ('Mentoring')">Purchase</div>
    </div>
  </section>
</section>
