<section class="popup-black" ui-sref="services"></section>
<section class="popup-container" >
  <section class="popup-wrap">
    <div class="service-tab" style="width:100%; border: none; height: auto;" >
      <h1 class="popup-h1">Excel Mentoring</h1>
      <h2>Discription:</h2>
      <p>This is a key part of your learning journey.  Attending the course or any other courses outside simply gives you a head start; a foundation.  Most importantly, you should be able to apply this in your workplace! This is why Excel infinity offers a free ½ day 1-1 mentoring after the course where they guide you one-on-one on the solutions to your real work problems via the work files you send or office visit. This certainly does not mean the course is not important.  It is essential you have the foundational knowledge to understand it better when they do the 1-1 mentoring in order to be able to apply.  You can extend the free ½ day 1-1 mentoring with a 50% discount when bundled with the course.</p>
      <div class="cta-button-md">Purchase</div>
    </div>
  </section>
</section>
