
::-webkit-scrollbar {
    display: none;
}
body{
  font-size: 14px;
}
h1{
  font-size: 6rem;
  margin: 60px 0 0 0;
}
h2{
  font-size: 2rem;
  margin:  0;
}
/*Jquery classes*/
.white{
  background:
}
.home-page-widgets{
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home-page-widgets h2{
  width: 85%;
}
.widget-container{
  display: flex;
  flex-wrap: wrap;
}
.widget-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items : center;
  margin: 80px 40px 40px 40px;
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  min-height: 250px;
}
.widget-container div h2{
  font-size: 2.5rem;
  margin: 10px;
}
.widget-container div p{
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}
.widget-container div button{
  text-align: center;
  margin: 0 0 10px 0;
  background: #52B529;
  border: 2px solid #52B529;
  color: white;
}
.widget-container div button:hover{
  text-align: center;
  margin: 0 0 10px 0;
  background: white;
  border: 2px solid #52B529;
  color: #52B529;
}
/*Early Bird Section*/
.-bg{
  background: #e3e3e3;
}
.timer-container{
  position: absolute;
  top: 40%;
  left: 3%;
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  background: rgba(255,255,255, .5)
}
.timer-container h2{
  color: black;
  font-size: 5rem;
  margin: -10px 0 0 0px;
  padding: 0px;
}
#early-bird-counter {
  color: black;
  font-size: 9rem;
  margin: 10px;
  padding: 0px;
}
.timer-container p{
  color: black;
  margin: 0px;
  padding: 0px;
  font-size: 2.2rem;
}
.timer-container p:first-child{
  margin: 10px 2px 2px 2px ;
  padding: 0px;
}
.early-bird-cta{
  position: absolute;
  bottom: 10%;
  right: 10%;
  background: #52B529;;
  color: white;
  padding: 10px 30px;
  font-size: 3rem;
  border: 4px solid white;
  border-radius: 2px;
}
.early-bird-cta:hover{
  background: white;
  color: #52B529;
}
.early-bird h1{
  margin: 30px 0 3px 0;
}
/*Image Control*/
.early-bird{
  position: relative;
  color: white;
  background: url('../img/robin-bird-on-branch-in-the-garden.jpg');
  background-position: center;
  background-size: cover;
}

#icon-experiance{
  background: url('../img/excel-icon.png');
  background-position: center;
  background-size: cover;
}
#icon-money{
  background: url('../img/dollar-icon.png');
  background-position: center;
  background-size: cover;
}
#icon-group{
  background: url('../img/people-icon.png');
  background-position: center;
  background-size: cover;
}

/*home page about section*/


.home-page-about{
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page-about p{
  margin: 50px 0px 0px 0;
  font-size: 2.8rem;
  letter-spacing: .2rem;
}
.home-page-about h1{
  margin: -5px 0 0 0;
}
.home-why-choose{
  display: flex;
  position: relative;
  margin: 10px 0 0 0 ;
  min-height: 400px;
  width: 80%;
}
.why-choose-content{
 width: 60%;
}
.why-choose-content h2{
color: #164702;
font-size: 2.5rem;
margin: 25px 0 0 0;
transition: all .8s;
}
.why-choose-content h2:first-child{
margin: 40px 0 0 0;
}
.why-choose-content h2:hover{
  color: #52b529;
}
.why-choose-content p{
margin: 0 0 0 5px;
font-size: 1.6rem;
letter-spacing: normal;
}
.why-choose-content span{
letter-spacing: .1rem;
color: rgba(0,0,0, .4);
transition: all 1s;
}
.why-choose-content span:hover{
color: rgba(0,0,0, 1)
}
.why-choose-widgets{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 30%;
  height: 430px;
  margin: 10px 0 0 0;
}
.why-choose-widgets div{
  width: 150px;
  height: 150px;
  background: #52b529;
  border-radius: 50%;
  margin: 10px;
}

/*Services page CSS*/
.services-wrap{
  width: 100%;
  min-height: 100vh;
}
.services-wrap-black{
  z-index: 1;
  background: rgba(0,0,0, .6);
  width: 100%;
  min-height: 100vh;
}
.services h2{
  margin: -10px 0 20px 0;
}
.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 10px 0 0 0 ;
}
.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 10px 0 0 0 ;
}
.services h1{
  font-size: 4rem;
  margin: 0 0 20px 0;
}
.services div{
  display: flex;
}
.services-course{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35vh;
  margin: 10px;
}
.service-tab{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 35vh;
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0, .2);
}
.popup-h1{
  margin: 0 0 20px 0;
  font-size: 1rem;
}
.service-tab h2{
  width: 60%;
  margin: 0 0 0 10px;
  font-size: 2rem;
  border-bottom: 1px solid rgba(0,0,0, .4);
}
.service-tab p{
  margin: 0 0 0 10px;
  padding: 10px;
  overflow: scroll;
}
.service-tab img{
  opacity: .5;
  width: 12px;
  padding: 10px 0 8px 0 ;
  margin-left: 5px;
}
.service-tab span:hover img{
  opacity: 1;
}
.service-tab span{
  margin: 0  0 -50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  color: rgba(0,0,0, .5);
}
.service-tab span:hover{
  color: rgba(0,0,0, 1);
}
.service-widget{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 0 20px;
  width: 18%;
  min-height: 35vh;
  border: 1px solid rgba(0,0,0, .2);
  padding: 0 40px;
}
.service-widget img{
  margin: 5px 0 0 0;
  width: 100px;
  background: #52B529;
  border-radius: 50%;
  padding: 2px;
}
/*main sign in page*/
.signin-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0, .1);
  padding: 20px 40px;
}
.signin input{
  font-size: 2rem;
  padding: 3px;
  margin: 5px;
  border: 1px solid #52b529;
}
.signin h4{
  font-size: 2rem;
  letter-spacing: .3rem;
  padding: 3px;
  margin: 0 0 -10px 0;
  color: rgba(0,0,0, .6);
}
.signin #signin-submit{
  background: #52b529;
  color: white;
  padding: 0px 20px;
}

/*dashboard page*/
.dashboard-wrap{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  margin: 0px 0 0 0;
  width: 100%;
  height: 90vh;
}
.dashboard-pages{
  width: 20%;
  border: 1px solid black;
}
.dashboard-edit{
  position: relative;
  width: 40%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.dashboard-courses{
  position: relative;
  width: 40%;
  border: 1px solid black;
}
.dash-title{
  position: relative;;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #52B529;
}
.dash-title-save{
  opacity: .8;
  font-size: 1.4rem;
  position: absolute;
  bottom:-3px;
  right:10px;
  padding: 2px 15px 4px 15px;
  border: 1px solid white;
  background: rgba(255,255,255, .9);
  color:  #52B529;
  border-radius: 3px;
}
.dash-title-save:hover{
  opacity: 1;
  background: rgba(255,255,255, 1);
}
.dash-li{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0, .1);
}
.dash-li:hover{
  background: #f3f3f3;
}
.add-course{
  opacity: .7;
  position: absolute;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #52B529;
  bottom: 0;
}
.add-course:hover{
  opacity: 1;
}
.dashboard-title{
  position: absolute;
  top: 51px;
  padding: 5px 10px 5px 45px;
  margin: 0 0 0 -2px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0, .2);
  background: rgba(0,0,0, .4);
  color: white;
}

/*Excel tips*/
.pro-tips{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 12vh;
  border: 1px solid #52b529;
  padding: 30px 40px;
  margin: 10px;
}
.pro-tips div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro-tips img{
  width: 50px;
  background:  #52b529;
  padding: 15px;
  border-radius: 50%;
  margin: 0 20px 0 -20px;
}
.pro-tips h2{
  padding: 20px 0 0 0;
}
.pro-tips .cta-button-md{
  padding: 8px 10px 0 10px;
  height: 40px;
}
/*sill features*/
.admin-welcome-wrap{
  text-align: center;
  display: none;
  position: absolute;
  top:0;
  z-index: 3360;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255, .6);
  justify-content: center;
  align-items: center;
}
.admin-welcome{
  margin: 70px 0 0 0;
padding: 20px 80px;
background: white;
box-shadow: 0px 3px 5px #888888;
border: 1px solid rgba(0,0,0, .2);
}
.admin-welcome h1{
 margin: 0 0 15px 0;
}
/*Contact*/
.contact-wrap{
  display: flex;
  width: 100%;
  height: 100vh;
}
.contact-page{
  width: 50%;
  height: 130vh;
  background: #f2f2f2;
}
.contact-bg{
  position: relative;
  background: url('../img/contactImage.jpg');
  background-position: top 0px right;
  background-size: cover;
}
.overlay-contact{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .6);
  color: white;
}
.overlay-contact div h1{
  margin: 20px 0 0 0 !important;
}
.overlay-contact div{
  margin: -15px 0 0 20px ;
}
#contact-box{
  margin: 70px 30px 30px 50px;
}
#contact-box h2{
  font-size: 3rem;
  margin: 0 0 0 -20px;
  border-bottom: 1px solid rgba(0,0,0, .3);
}
#contact-box h3{
  font-size: 2.3rem;
}
#contact-box h4{
  margin: 0 0 0 10px;
}
#contact-box div{
  border-bottom: 1px solid rgba(0,0,0, .3);
  padding: 10px 0;
}
#contact-box div input{
  font-size: 2rem;
  padding: 3px;
  margin: 5px;
  border: 1px solid rgba(0,0,0, .3);
  width: 80%;
}
#contact-box div textarea{
  font-size: 2rem;
  padding: 3px;
  margin: 5px;
  border: 1px solid rgba(0,0,0, .3);
  width: 80%;
}
#custom-contact{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#custom-contact h2{
  color: rgba(0,0,0, .4);
  margin: 30px 0 0 0;
  border:none;
}
#custom-contact h4{
  color: rgba(0,0,0, .4);
  margin: 0 0 30px 0;
  border:none;
}
/*Testimonials*/
#testimonial-info{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#testimonial-info h2{
  margin: 0;
}
#testimonial-info span{
  color: rgba(0,0,0, .4);
}
#learn-more-test{
  float: right;
  color: rgba(0,0,0, .4);
  transition: all .7s;
}
#learn-more-test:hover{
  float: right;
  color: rgba(0,0,0, 1);
}
/*About*/
.about-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.about-checker{
  display: flex;
  width: 100%;
  height: 100vh;
}
.about-checker div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.about-checker div h1{
  margin: 30px 0 0 0;
}
.about-checker div p{
  padding: 5px 40px;
  font-size: 1.6rem;
}
.checker-image{
  position: relative;
  color: white;
  background: rgba(0,0,0, .3);
}
.checker-image img{
  padding: 5px;
  z-index: 5;
  width: 250px;
  height: 250px;
  border: 4px solid white;
  border-radius: 50%;
  margin: -50px 0 20px 0;
}
.checker-image p{
  z-index: 5;
}
.checker-info{
text-align: center;
}
.checker-info h2{
  display: block;
  margin: 20px 0 0 0 !important;
}
.gbiOne{
  background: url('../img/aboutimagetwo.jpg');
  background-position: top 0px right;
  background-size: cover;
}
.gbiTwo{
  background: url('../img/aboutusimageone.jpg') !important;
  background-position: top 0px right;
  background-size: cover;
}
/*button*/
.cta-button-md{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: .3rem;
  padding: 2px 10px;
  border-radius: 5px;
  margin: 10px;
  background: #52B529;
  border: 2px solid #52B529;
  color: white;
}
.cta-button-md:hover{
  background: white;
  color: #52B529;
}
.min-h{
  height: auto;
  min-height: 28vh;
  width: 70%;
}
/*pop ups*/
.popup-wrap input{
  font-size: 2rem;
  padding: 3px;
  margin: 5px;
  border: 1px solid #52b529;
}
#email-submit{
  font-size: 2rem;
  padding: 3px;
  margin: 5px;
  border: 1px solid #52b529;
  background: #52b529;
  color: white;
}
#email-submit:hover{
  background: white;
  color: #52b529;;
}
.popup-black{
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140%;
  background: rgba(0,0,0, .4);
  top:0;
  left:0;
}
.popup-container{
  z-index: ;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120%;
  top:0;
  left:0;
}
.popup-wrap{
  position: absolute;
  top: 160px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px 40px;
  margin: -100px 0 0 0;
  background: white;
  border-radius: 5px;
  z-index: 1888;
}
/*Payments CSS*/
.payment-wrap{
height: auto;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.payment-wrap{
  flex-direction: column;
}
.payment-wrap h2{
  margin: 10px 0 0 0;
}
.payment-wrap p span{
  color: rgba(0,0,0, .5);
}
.payment-wrap p span:hover{
  color: rgba(0,0,0, 1);
}
.payment-inputs{
height: auto;
width: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.payment-inputs input{
width: 400px;
margin: 10px;
padding: 5px;
border:1px solid #52B529;
}
.payment-inputs #UserInfoSubmit{
background: #52B529;
border: 2px solid #52B529;
color: white;
width: 100px;
}
.payment-methods{
  height: auto;
  display: flex;
}
.payment-methods div{
  margin: 10px;
}
#paypal{
  padding: 10px 20px;
  background:#005EA6;
  color: white;
}
#creditcard{
  padding: 10px 20px;
  background: #FF6000;
  color: white;
}
#check{
  padding: 10px 20px;
  background: #52B529;
  color: white;
}
.grey-scale{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/*Dropdowns*/
.dropdown-li{
  position: relative;
}
.dropdown-li div{
  border-top: 1px solid white;
  text-align: center;
  position: absolute;
  display: none;
  width: 120px;
  min-height: 100px;
  background: #52b529;
  left:-20px;
  bottom: -106px;
}
.dropdown-li li{
  width: 100%;
  margin: 0px !important;
}
.dropdown-li li:hover{
  border-top: 1px solid rgba(255,255,255, .4);
}
.dropdown-li #about-dd ul{
  background:  #52b529;
  opacity: 1 !important;
}
