<section class="about-wrap">
  <section class="about-checker">
    <div class="checker-info">
      <h1>About Us</h1>
      <p>Benne Tan is the founder of Excel infinity.  He came from an Accountancy background in his school days and did not use much of Excel until he started work officially.  That was when he realized what a fascinating tool Excel is.  Through Excel formulas, he saved his colleagues and himself a lot of time doing reports.  He then got hired as a Microsoft Excel trainer for two years and helped to develop a PowerPivot course.  It was also during that period that he joined an excel forum and deepened his skills and passion for Excel.  Some even say he bleeds green (the color of excel)!  His spirit of sharing and learning from all the Excel veterans from all over the world in the forum made him rise to an Excel Forum Guru status. </p>
    </div>
    <div class="checker-image gbiTwo">
      <img src="../img/web-design-widget.png" style=" z-index: 1" />
      <p> Many of the formulas he learned were also consolidated, explained and shared by him in the Excel forum, viewed by over 40K of people all around the world (you can get this file here).  He was then sought to join his next company to help improve processes through Excel.  In there, he vastly improved the efficiency of many processes.  Setting up Excel infinity, he wants to replicate all the things he have done; by sharing what he has learned in Excel to help you learn how to let this amazing tool do its magic.</p>
      <div class="overlay-contact" style="width: 100%;"></div>
    </div>
  </section>
  <section class="about-checker">
    <div class="checker-image gbiOne">
    </div>
    <div class="checker-info">
      <h1>Why Us</h1>
      <h2>Custom Training</h2>
      <p id="text-left">Many learners struggle to apply skills learnt from courses.  We offer a free ½ day Excel 1-1 Mentoring where we guide you on the solutions to your real work problems via the work files you send or office visit.</p>
      <h2>in-house program</h2>
      <p id="text-left">Finding it difficult to understand how formulas work?  Besides the classroom trainings, we have an in-house program that also makes understanding formulas way much easier.</p>
      <h2>Smaller is smarter  </h2>
      <p id="text-left">our maximum class size is 10 pax.  Rather than maximizing profits, we want to ensure our individual learners get our undivided attention and time.</p>
    </div>
  </section>
</section>
