<section class="about-wrap">
  <section class="about-checker">
    <div class="checker-info">
      <h1>{{cms.about.sections.sectionOne.title}}</h1>
      <p>{{cms.about.sections.sectionOne.paraOne}} </p>
    </div>
    <div class="checker-image gbiTwo">
      <img src="../img/web-design-widget.png" style=" z-index: 1" />
      <p> {{cms.about.sections.sectionOne.paraTwo}}</p>
      <div class="overlay-contact" style="width: 100%;"></div>
    </div>
  </section>
  <section class="about-checker">
    <div class="checker-image gbiOne">
    </div>
    <div class="checker-info">
      <h1>{{cms.about.sections.sectionTwo.title}}</h1>
      <h2>{{cms.about.sections.sectionTwo.subtitleOne}}</h2>
      <p id="text-left">{{cms.about.sections.sectionTwo.bodyOne}}</p>
      <h2>{{cms.about.sections.sectionTwo.subtitleTwo}}</h2>
      <p id="text-left">{{cms.about.sections.sectionTwo.bodyTwo}}</p>
      <h2>{{cms.about.sections.sectionTwo.subtitleThree}}</h2>
      <p id="text-left">{{cms.about.sections.sectionTwo.bodyThree}}</p>
    </div>
  </section>
</section>
