<section class="checkout-wrap">
  <section class="checkout-deals checkout-summary">
    <h4>Take advantage of these deals!</h4>
    <div>
      <p>Register for both course and 1-1 Mentoring and get a 50% off the latter. </p>
      <div class="cta-button-sm" ng-click="purchaseType({type:'1-1 Mentoring', price:mentorPrice, id: 2})">Add Mentoring to Order</div>
    </div>
    <div>
      <p>Register for  both course and Consultancy now to get 50% off the latter. </p>
      <div class="cta-button-sm" ng-click="purchaseType ({type:'Excel Consultancy', price:consultancyPrice, id: 3})">Add Consultancy to Order</div>
    </div>
    <div style=" border-bottom: 1px solid #52B529;">
      <p>Add additional people to your course and save 50$ per person.</p>
      <select ng-model='addPeople.number' class="cta-button-sm"  style="width:94%;" ng-options='number.number for number in addPeople'>
        <option value="" >Select</option>
      </select>
      <div class="cta-button-sm" ng-click="addPeopleToClass(addPeople.number)">Add People</div>
    </div>
    <div ng-hide="currentClient.earlyBird !== true" style=" border-bottom: 1px solid #52B529;" >
      <p>You qualify for an early bird discount!</p>
      <div class="cta-button-sm" ng-controller="checkout" ng-click="addEBspecial()">Add Early Bird Discount </div>
    </div>
    <div class="voucher-input" ng-hide="currentClient.earlyBird !== true" style=" border-bottom: 1px solid #52B529;">
      <p>Voucher Code</p>
      <input  />
      <div class="cta-button-sm" ng-controller="checkout" ng-click="voucherControll()">Add Voucher Discount</div>
    </div>
    <div class="cta-button" ng-hide="numberStudents > 5" ng-controller="checkout">There are currently {{numberStudents}} more spots available in your class</div>
  </section>
  <section class="payment-dash checkout-summary">
    <div class="payment-cart">
      <h4>Your Services</h4>
      <section>
        <div ng-repeat="service in currentClient.purchaseType">
          <p><b>Service:</b> {{service.type}}</p>
          <p><b>Individual Price:</b> ${{service.price}}</p>
        </div>
      </section>
      <h4>Your Savings</h4>
      <section>
        <div ng-repeat="savings in currentClient.savingsType">
          <p><b>Savings on:</b> {{savings.type}}</p>
          <p><b>Savings Value:</b> ${{savings.price}}</p>
        </div>
      </section>
      <div>
        <h2>Total</h2>
        <p>${{runningTotal}}</p>
      </div>
    </div>
    <p id="payment-checkout-notice">Confirm order and select payment type</p>
    <div class="cta-button-md" ui-sref="checkout" ng-click="revealButtons()" >Confirm order checkout</div>
  </section>
</section>
<section class="checkout-pay">
  <h2>How would you like to pay?</h2>
  <section class="payment-methods" ng-hide="activateButtons" >
    <div id="paypal" class="grey-scale">Paypal</div>
    <div id="creditcard" class="grey-scale">Credit Card</div>
    <div id="check" class="grey-scale">Check / Bank Transfer</div>
  </section>
  <section class="payment-methods" ng-hide="activateButtons !== true">
    <div id="paypal-button" ng-controller="paypal" ng-click="deferPayment('false')"></div>
    <div id="customButton" ng-click="deferPayment('false')">Credit Card</div>
    <div id="check" ui-sref="customerReportDeferPay" ng-click="deferPayment('true')">Check / Bank Transfer</div>
  </section>
</section>
