<section class="customerReportWrap">
  <h2>Hey {{pasportName}}!</h2>
  <p>This message has been sent to your email</p>
  <div>
    <h4>Account Info</h4>
    <p>Name: {{currentClient.info.pasportName}}<b></b></p>
    <p>Customer Id: {{currentClient.userid}}<b></b></p>
    <p>Payment Made: Yes<b></b></p>
    <p>Payment Ammount: ${{currentClient.fullPayment}}<b></b></p>
    <p>Course Id: {{currentClient.info.cohort}}<b></b></p>
    <p>Course Dates: {{currentClient.info.cohort}}<b></b></p>
  </div>
</section>
