<section class="services-wrap">
  <section class="services">
    <ui-view></ui-view>
    <h1>Subscribe Free</h1>
    <h2>Our Pro Excel Tips can help you make the most of your Excel experiance</h2>
    <div class="pro-tips">
      <div>
        <img src="./img/graph-icon.png" />
        <h2>Free Excel tips to make you an Excel pro</h2>
      </div>
      <div ui-sref="excelTips.subscribe" class="cta-button-md"><p>Subscribe</p></div>
    </div>
    <div class="pro-tips">
      <div>
        <img src="./img/search-icon-white.png" />
        <h2>Have you been manually counting the number of columns in VLOOKUP?</h2>
      </div>
      <div ui-sref="excelTips.subscribe" class="cta-button-md"><p>Subscribe</p></div>
    </div>
    <div class="pro-tips">
      <div>
        <img src="./img/levels-icon-white.png" />
        <h2>Are you maximizing the use of Filter function?</h2>
      </div>
      <div ui-sref="excelTips.subscribe" class="cta-button-md"><p>Subscribe</p></div>
    </div>
  </section>
</section>
