<section class="services-wrap">
  <section class="services">
    <ui-view></ui-view>
    <h1>{{cms.excelTips.sections.sectionMain.title}}</h1>
    <h2>{{cms.excelTips.sections.sectionMain.subtitle}}</h2>
    <div class="pro-tips">
      <div>
        <img src="./img/graph-icon.png" />
        <h2>{{cms.excelTips.sections.sectionOne.Title}}</h2>
      </div>
      <div ui-sref="excelTips.subscribe" class="cta-button-md"><p>Subscribe</p></div>
    </div>
    <div class="pro-tips">
      <div>
        <img src="./img/search-icon-white.png" />
        <h2>{{cms.excelTips.sections.sectionTwo.Title}}</h2>
      </div>
      <div ui-sref="excelTips.subscribe" class="cta-button-md"><p>Subscribe</p></div>
    </div>
    <div class="pro-tips">
      <div>
        <img src="./img/levels-icon-white.png" />
        <h2>{{cms.excelTips.sections.sectionThree.Title}}</h2>
      </div>
      <div ui-sref="excelTips.subscribe" class="cta-button-md"><p>Subscribe</p></div>
    </div>
  </section>
</section>
