<section class="home-page-widgets">
  <h1>{{cms.home.sections.sectionOne.title}}</h1>
  <h2>{{cms.home.sections.sectionOne.subtitle}}</h2>
  <div class="widget-container">
    <div>
      <h2>{{cms.home.sections.sectionOne.widgets.w1.title}}</h2>
      <p>{{cms.home.sections.sectionOne.widgets.w1.body}}</p>
      <button>Get started!</button>
    </div>
    <div>
      <h2>{{cms.home.sections.sectionOne.widgets.w2.title}}</h2>
      <p>{{cms.home.sections.sectionOne.widgets.w2.body}}</p>
      <button>Get started!</button>
    </div>
    <div>
      <h2>{{cms.home.sections.sectionOne.widgets.w3.title}}</h2>
      <p>{{cms.home.sections.sectionOne.widgets.w3.body}}</p>
      <button>Get started!</button>
    </div>
  </div>
</section>
<!-- early birs special -->
<section class="home-page-widgets early-bird bg-img">
  <h1>{{cms.home.sections.sectionTwo.title}}</h1>
  <h2>{{cms.home.sections.sectionTwo.subtitle}}</h2>
  <div class="timer-container">
    <p>{{cms.home.sections.sectionTwo.specialTitle}}</p>
    <h2>{{cms.home.sections.sectionTwo.specialSubtitle}}</h2>
    <h2 id="early-bird-counter">{{earlyBirdTimerM}}:{{earlyBirdTimerZ}}{{earlyBirdTimerS}}</h2>
  </div>
  <div class="early-bird-cta">{{cms.home.sections.sectionTwo.button}}</div>
</section>

<section class="home-page-about">
  <p>{{cms.home.sections.sectionThree.title}}</p>
  <h1>{{cms.home.sections.sectionThree.subtitle}}</h1>
  <div class="home-why-choose">
    <div class="why-choose-widgets">
      <div id="icon-experiance" ></div>
      <div id="icon-group" class="bg-img"></div>
      <div id="icon-money" class="bg-img"></div>
    </div>
    <div class="why-choose-content">
      <h2>{{cms.home.sections.sectionThree.widgets[1].w1.title}}</h2>
      <p>{{cms.home.sections.sectionThree.widgets[1].w1.body}}</p>
      <span>learn more</span>
      <h2>{{cms.home.sections.sectionThree.widgets[1].w2.title}}</h2>
      <p>{{cms.home.sections.sectionThree.widgets[1].w2.body}}</p>
      <span>learn more</span>
      <h2>{{cms.home.sections.sectionThree.widgets[1].w3.title}}</h2>
      <p>{{cms.home.sections.sectionThree.widgets[1].w3.body}}</p>
      <span>learn more</span>
    </div>
  </div>
</section>
