<section class="services-wrap">
  <section class="services">
      <ui-view></ui-view>
      <h1>Excel Infinity Services</h1>
    <div class="services-course">
      <div class="service-tab">
        <h1>Excel Course</h1>
        <h2>Objective:</h2>
        <p>The objective of our excel courses is to allow you to gain a better understanding of the powerful tools available to you through Microsoft Excel.
        Each course allows students to benifit from the years of experiance and expertese we have here at Excel Infinity.</p>
        <span id="course-pop" ui-sref="services.course">Learn more<img src="./img/chevron.png"/></span>
      </div>
      <div class="service-widget">
        <img src="./img/design-widget.png" />
        <div class="cta-button-md">Purchase</div>
      </div>
    </div>
    <div class="services-course">
      <div class="service-tab">
        <h1>1-1 Excel Mentoring</h1>
        <h2>Objective:</h2>
        <p>The objective of our excel courses is to allow you to gain a better understanding of the powerful tools available to you through Microsoft Excel.
        Each course allows students to benifit from the years of experiance and expertese we have here at Excel Infinity.</p>
        <span id="mentor-pop" ui-sref="services.mentor">Learn more<img src="./img/chevron.png"/></span>
      </div>
      <div class="service-widget">
        <img src="./img/web-design-widget.png" />
        <div class="cta-button-md">Purchase</div>
      </div>
    </div>
    <div class="services-course">
      <div class="service-tab">
        <h1>Excel Consultancy</h1>
        <h2>Objective:</h2>
        <p>The objective of our excel courses is to allow you to gain a better understanding of the powerful tools available to you through Microsoft Excel.
        Each course allows students to benifit from the years of experiance and expertese we have here at Excel Infinity.</p>
        <span id="consult-pop" ui-sref="services.consult">Learn more<img src="./img/chevron.png"/></span>
      </div>
      <div class="service-widget">
        <img src="./img/people-icon-white.png" />
        <div class="cta-button-md">Purchase</div>
      </div>
    </div>
  </section>
</section>
