<section class="services-wrap">
  <section class="services">
      <ui-view></ui-view>
      <h1>{{cms.services.sections.sectionMain.title}}</h1>
    <div class="services-course">
      <div class="service-tab">
        <h1>{{cms.services.sections.sectionOne.title}}</h1>
        <h2>{{cms.services.sections.sectionOne.subTitle}}</h2>
        <p>{{cms.services.sections.sectionOne.disc}}</p>
        <span id="course-pop" ui-sref="services.course">Learn more<img src="./img/chevron.png"/></span>
      </div>
      <div class="service-widget">
        <img src="./img/design-widget.png" />
        <div class="cta-button-md" ng-click="purchaseType ({type:'Excel Course', price: coursePrice, id: 1})" ui-sref="services.coursesAvailable">Purchase</div>
      </div>
    </div>
    <div class="services-course">
      <div class="service-tab">
        <h1>{{cms.services.sections.sectionTwo.title}}</h1>
        <h2>{{cms.services.sections.sectionTwo.subTitle}}</h2>
        <p>{{cms.services.sections.sectionTwo.disc}}</p><span id="mentor-pop" ui-sref="services.mentor">Learn more<img src="./img/chevron.png"/></span>
      </div>
      <div class="service-widget">
        <img src="./img/web-design-widget.png" />
        <div class="cta-button-md" ng-click="purchaseType ({type:'1-1 Mentoring', price:mentorPrice, id: 2})" ui-sref="paymentInfo">Purchase</div>
      </div>
    </div>
    <div class="services-course">
      <div class="service-tab">
        <h1>{{cms.services.sections.sectionThree.title}}</h1>
        <h2>{{cms.services.sections.sectionThree.subTitle}}</h2>
        <p>{{cms.services.sections.sectionThree.disc}}</p><span id="consult-pop" ui-sref="services.consult">Learn more<img src="./img/chevron.png"/></span>
      </div>
      <div class="service-widget">
        <img src="./img/people-icon-white.png" />
        <div class="cta-button-md" ng-click="purchaseType ({type:'Excel Consultancy', price:consultancyPrice, id: 3})" ui-sref="paymentInfo">Purchase</div>
      </div>
    </div>
  </section>
</section>
