<section class="services-wrap">
  <section class="services">
    <ui-view></ui-view>
    <h1>Testimonials</h1>
    <h2>See what some of our satisfied clients are saying</h2>
    <div class="pro-tips">
      <div>
        <img src="./img/graph-icon.png" />
        <div id="testimonial-info">
          <h2>James Morris - <span>Camaroon</span></h2>
          <P>After struggeling for years I can see the light at the end of the tunnel</P>
        </div>
      </div>
      <span id="learn-more-test">Read More</span>
    </div>
    <div class="pro-tips">
      <div>
        <img src="./img/graph-icon.png" />
        <div id="testimonial-info">
          <h2>Cameron Allie - <span>USA</span></h2>
          <P>Stop what your doing and sign uo for this service!</P>
        </div>
      </div>
      <span id="learn-more-test">Read More</span>
    </div>
    <div class="pro-tips">
      <div>
        <img src="./img/graph-icon.png" />
        <div id="testimonial-info">
          <h2>Taylor Jessie - <span>Singapor</span></h2>
          <P>Simply amazing! I can do 5 times more work and profits are skyrocketing!</P>
        </div>
      </div>
      <span id="learn-more-test">Read More</span>
    </div>
  </section>
</section>
