<section id="event-submit-back" class="popup-black" ui-sref="adminTools">
</section>
<section id="event-submit" class="popup-container">
  <section class="popup-wrap ">
    <h1>Create Course</h1>
    <!-- <input placeholder="Date" ng-model="event.date"/> -->
    <div>
      <select ng-model='newCourse.month' ng-options='month.name for month in newCourseMonth'>
        <option value="">Select Month</option>
      </select>
      <select ng-model='newCourse.day' ng-options='day.day for day in newCourseDay'>
        <option value="">Select Day</option>
      </select>
      <select ng-model='newCourse.year' ng-options='year.year for year in newCourseYear'>
        <option value="">Select Year</option>
      </select>
    </div>
    <input  placeholder="Event Name" ng-model="newCourse.name"/>
    <div type="submit" id="email-submit" class="signin" ui-sref="adminTools" ng-click="createEvent(newCourse)">Create Event</div>
  </section>
</section>

<admin-head ng-hide="!currentUser.type" style="z-index: 100;" ></admin-head>
<section class="dashboard-wrap">
  <section class="dashboard-pages">
    <div class="dash-title">Page List</div>
    <div class="dash-li" ng-repeat="page in cms" ui-sref={{page.sref}} >{{page.page}} page</div>
  </section>
  <section class="dashboard-edit">
    <div class="dash-title">Edit Content
      <!-- <h4 class="dash-title-save" ng-click="saveCms(cms)" >Save</h4> -->
    </div>
    <div class="cms-input-wrap">
      <ui-view></ui-view>
    </div>
  </section>
  <section class="dashboard-courses">
    <div class="dash-title">Upcomming Courses</div>
    <div class="single-event" ng-repeat="event in events">
      <h4>Course: {{event.name}}!</h4>
      <p>Date: {{event.datebeauty}}</p>
    </div>
    <div class="add-course" ng-click="revealEvent()">+ Add Course</div>
  </section>
</section>
